#banner{
	padding:0 20px;
}

#banner img{
	display:block;
	margin:0 auto;
}

#logo{
	width: 40%;
}

li{
	list-style: none;
}

.nav.navbar-nav li a {
	color: #ffffff;
}

.nav.navbar-nav li a:hover {
	color: #000000;
}

.dropdown-menu{
	background: #96AC3C;
}

#lateral{
	float: right;
	margin-right: 20px;
}

.btn-color{
	background-color:#96AC3C;
	color: #ffffff;
}

.panel-success > .panel-heading-custom {
	background: #96AC3C;
	color: #ffffff;
	text-align: center;
}

#opciones{
	position: center;
}

#nav-toggle-button{
    background-color: #A0C1A3;
}

.navbar-couch {
	background-color: #96AC3C;
	border-color: #E7E7E7;
	border-style: dashed;
	border-width: 2px;
}

.form-horizontal{
	padding: 15px 50px 50px 50px ;
	width: 45%;
}

#sexo{
	width: 20%;
}